* {
  border: none;
}

.page {
  color: goldenrod !important;
}
.text-primary {
  color: rgba(255, 100, 51, 1) !important;
}
.bg-primary {
  background: rgba(255, 100, 51, 1) !important;
}
.btn-primary {
  background: rgba(255, 100, 51, 1) !important;
  color: white;
  border: none;
}
.text-secondary {
  color: rgba(102, 28, 231, 1) !important;
}

#hero {
  width: 100%;
}
.hero-image {
  width: 100%;
  min-height: 100vh;
  background: url("../images/Image.png") no-repeat center center/cover;
}
#sec1 {
  background: rgba(226, 230, 233, 1);
}
#sec2 .sec2-b1 span {
  background: rgba(102, 28, 231, 1);
}
#sec2 .sec2-bline {
  border-style: dashed;
  border-color: #ff6433;
  height: 50px;
}
#sec3 {
  background: rgba(242, 242, 242, 1);
}
/* #sec3 .sec3-row1 {
  justify-content: space-between;
} */
.row1-box1 {
  height: 170px !important;
}

.sec4-b {
  background: rgba(242, 242, 242, 1);
}
#sec6 {
  background: rgba(242, 242, 242, 1);
}
.sec6-txt {
  width: 60%;
}
#sec7 {
  background: rgba(226, 230, 233, 1);
}
@media (max-width: 768px) {
  .sec7-item {
    width: 100%;
  }
}
